<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-6">
        <p>{{ site.description | escape }}</p>
        <ul>
          <li>Rss订阅: <a href='http://ninjadevops.com/feed.xml'>http://ninjadevops.com/feed.xml</a> </li>
          <li>微信订阅: <img src='https://raw.githubusercontent.com/devopshub-org/devopshub-org.github.io/master/_resources/qrcode_wechat.jpg' alt='wechat' /> </li>
          <li>聊天室 Explore our chat community on Gitter: <a href='https://gitter.im/NinjaDevOpsDotCom'>https://gitter.im/NinjaDevOpsDotCom</a> </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71253977-2', 'auto');
  ga('send', 'pageview');

</script>
